<div class="personality-container">
    <div *ngIf="!showAssessment">



<div class="container">
    <div>
            <img class="sbimg" src="/assets/image/logoskills.png" />
    </div>
    <div class="header">
        <div>Simplifying Skills Skillsphere Assessment - Instructions</div>
        <img src="assets/image/1.png" class="img" alt="Instructions Icon">
    </div>
        <div class="line">Welcome to the Simplifying Skills Skillsphere Assessment. Please read the following instructions carefully before you begin the test.</div>
    
    <div class="instructions">
        <h2>Guidelines for Behavioral Section:</h2>
        <ol>
            <li>
                There are 4 sub-sections that helps understand your personality traits and behavioral patterns.
                <ol type="a">
                     <li><strong class="strng">Interest & Preference:</strong> This section evaluates what you like and what activities make you happy.</li>
                    <li><strong class="strng">Psychometric Assessment:</strong> This section evaluates how you think, react, and process information.</li>
                    <li><strong class="strng">Socio-Emotional intelligence:</strong> This measures your social and emotional intelligence and it assesses your ability to understand and manage emotions.</li>
                    <li><strong class="strng">Adversity Quotient (AQ):</strong> This measures how you handle tough times.</li>
                </ol>
            </li>
            <li>Manage your time wisely — the section will auto-submit once the 20 minutes are up.</li>
            <li>Don’t spend too much time on one question. Go with your first instinct.</li>
            <li>Answer each questions instinctively without overanalyzing</li>
            <li>There are no wrong answers; choose what best reflects you.</li>
        </ol>
    </div>
    <button type="button" pButton label="Start Assessment" (click)="resumeSection()" class="start-btn"></button>
</div>




    </div>

    
    <div *ngIf="showAssessment" class="assessment-page">
        <div>
            <div class="assessment-question-container">
                <div class="assessment-question-top-bar">
                    <div class="assessment-question-progress-bar">
                        <p-progressBar [value]="getProgressBarValue()" />
                    </div>
                    <div class="flex flex-row gap-2">
                        <button pButton severity="secondary" label="Review" rounded="true"
                            (click)="this.showSidebar = !this.showSidebar;">
                        </button>
                        <div>
                            <button pRipple pButton [rounded]="true"
                                [ngClass]="isQuestionFlagged(currentQuestionId) ? '':'p-button-outlined'"
                                severity="secondary"
                                label="{{ isQuestionFlagged(currentQuestionId) ? 'Unflag' : 'Flag' }}"
                                (click)="toggleFlagForLater()">
                            </button>

                        </div>
                        <p-divider layout="vertical" />
                        <div class="assessment-question-timer">
                            <div class="assessment-question-timer-icon">
                                <i class="pi pi-clock" style="font-size: xx-large; color: #000;"></i>
                            </div>
                            <div class="assessment-question-timer-text">
                                <div> {{ timerDisplay }} Min</div>
                                <div class="assessment-question-timer-subtext"> Time Remaining</div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="assessment-question-and-answer">
                    <div class="question-number-text">{{this.questions[this.selectedPage].displayQuestionType }}
                        <br>
                        {{'Question ' + (selectedPage +1) }}
                    </div>
                    <p-dataView [value]="questions" [rows]="1" [paginator]="true" [first]="selectedPage"
                        [paginatorStyleClass]="'height:0px'">
                        <ng-template pTemplate="list" let-questions>
                            <div class="grid">
                                <div *ngFor="let question of questions; let i = index"
                                    style="gap: 8px; flex-direction: column; width: 100%;">
                                    <ng-container [ngSwitch]="question.questionType">
                                        <app-interest-preferences *ngSwitchCase="'interests_and_preferences'"
                                            [question]="question" [questionSubmission]="getQuestionSubmission(question)"
                                            (optionSelection)="updateQuestionSubmission($event)"
                                            [events]="clearOptionEventSubject.asObservable()">
                                        </app-interest-preferences>

                                        <app-psychometric-question *ngSwitchCase="'psychometric'" [question]="question"
                                            [questionSubmission]="getQuestionSubmission(question)"
                                            (optionSelection)="updateQuestionSubmission($event)"
                                            [events]="clearOptionEventSubject.asObservable()">
                                        </app-psychometric-question>

                                        <app-sei-question *ngSwitchCase="'sei'" [question]="question"
                                            [questionSubmission]="getQuestionSubmission(question)"
                                            (optionSelection)="updateQuestionSubmission($event)"
                                            [events]="clearOptionEventSubject.asObservable()">
                                        </app-sei-question>

                                        <app-adversity-question *ngSwitchCase="'adversity'" [question]="question"
                                            [questionSubmission]="getQuestionSubmission(question)"
                                            (optionSelection)="updateQuestionSubmission($event)"
                                            [events]="clearOptionEventSubject.asObservable()">

                                        </app-adversity-question>

                                        <div *ngSwitchDefault></div>

                                        <div *ngSwitchDefault></div>
                                    </ng-container>
                                </div>
                            </div>
                        </ng-template>
                    </p-dataView>
                </div>
                <div class="assessment-question-footer">
                    <button pButton pRipple raised="true" label="Previous" icon="pi pi-chevron-left" iconPos="left"
                        severity="secondary" rounded="true" [disabled]="selectedPage < 1"
                        (click)="navigateToPreviousQuestion()"></button>
                    <button pButton pRipple raised="true" *ngIf="!isLastQuestion()" label="Next" severity="secondary"
                        rounded="true" [disabled]="!enableNextButton()" (click)="navigateToNextQuestion()"
                        icon="pi pi-chevron-right" iconPos="right"></button>
                    <button *ngIf="isLastQuestion()" raised="true" class="btn-min-8em" rounded="true" pButton
                        label="Submit Test" (click)="submitSection()"></button>
                </div>
            </div>
        </div>
    </div>
    <p-sidebar [(visible)]="showSidebar" position="right" [baseZIndex]="10000">
        <h2>Review All Questions</h2>
        <div class="sidebar-content">
            <!-- Add your sidebar content here -->
            <div class="flex question-review-container">
                <div class="question-review">
                    <button pButton raised="true" *ngFor="let question of questions; let i = index" [ngClass]="{
                            'p-button-warning': isQuestionFlagged(question.id),
                            'p-button-success': !isQuestionFlagged(question.id) && isQuestionAttempted(question.id),
                            'p-button-danger': !isQuestionFlagged(question.id) && !isQuestionAttempted(question.id),
                            'w-1': true,
                            'question-item': true
                        }" (click)="navigateToQuestion(i)">
                        {{ i + 1 }}
                    </button>
                </div>

            </div>
        </div>
        <button pButton label="Close" icon="pi pi-times" raised="true" (click)="showSidebar = false"></button>

    </p-sidebar>
</div>
<p-confirmDialog></p-confirmDialog>
<p-toast position="top-center"></p-toast>