.svg-container {
  position: relative;
}

svg {
  max-width: 100%;
  height: auto;
}

text {
  white-space: pre;
}

.absolute-text {
  position: absolute;
  top: 65%;
  left: 0;
  padding: 5%;
  margin: 2%;
  font-weight: 500;
  .translated-font {
    font-weight: 400;
  }

  @media (max-width: 400px) {
    .translated-font {
      font-size: calc(0.35em + 0.275vw);
    }
  }
  @media (min-width: 400px) and (max-width: 500px) {
    .translated-font {
      font-size: calc(0.4em + 0.5vw);
    }
  }
  @media (min-width: 500px) and (max-width: 600px) {
    .translated-font {
      font-size: calc(0.5em + 0.5vw);
    }
  }
  @media (min-width: 600px) and (max-width: 768px) {
    .translated-font {
      font-size: calc(0.8em + 0.3vw);
    }
  }

  @media (min-width: 768px) and (max-width: 850px) {
    .translated-font {
      font-size: calc(0.95em + 0.3vw);
    }
  }

  @media (min-width: 850px) and (max-width: 1024px) {
    .translated-font {
      font-size: calc(1.1em + 0.275vw);
    }
  }

  @media (min-width: 1024px) and (max-width: 1280px) {
    .translated-font {
      font-size: calc(1.25em + 0.2vw);
    }
  }

  @media (min-width: 1280px) and (max-width: 1600px) {
    .translated-font {
      font-size: calc(1.45em + 0.25vw);
    }
  }

  @media (min-width: 1600px) and (max-width: 1900px) {
    .translated-font {
      font-size: calc(1.45em + 0.2vw);
    }
  }

  @media (min-width: 1900px) {
    .translated-font {
      font-size: calc(1.4em + 0.2vw);
    }
  }
}
