<div class="sidebar">
  <!-- Your navigation links go here -->

  <div class="sbupper">

    <img class="sbimg" src="/assets/image/logoss.png" />

    <div class="sbmenu">
      <!-- for desktop view-->

      <!-- <div class="sbmenuinner">
        <div class="sbmenuitem" (click)="goToDashboard()">
                <img class="sbmenuitemimg" src="/assets/image/puneet.png" alt="Home">
                <div class="sbmenuitemtext">Home</div>
              </div>

      <div class="sbmenuitem" (click)="ProfileMenu()">
                <img class="sbmenuitemimg" src="/assets/image/cam.png" alt="Home">
                <div class="sbmenuitemtext">Profile</div>
              </div>

              <div class="sbmenuitem">
                <img class="sbmenuitemimg" src="/assets/image/exam.png" alt="Home">
                <div class="sbmenuitemtext">Assessment</div>
              </div>

              <div class="sbmenuitem" (click)="showRedeem()">
                <img class="sbmenuitemimg" src="/assets/image/people.png" alt="Home">
                <div class="sbmenuitemtext">Referrals</div>
              </div>

              <div class="sbmenuitem" (click)="goToPlanGrow()">
                <img class="menuitemimg" src="/assets/image/discount.png" alt="Home">
                <div class="sbmenuitemtext">Pricing</div>
              </div>

      </div> -->

      <!-- for mobile view-->

            <div class="sbmenuinner" >
                  <div class="sbmenuitem" (click)="goToDashboard()">
                    <div class="sbmenuitemtext">Home</div>
                  </div>

                  <div class="sbmenuitem"  (click)="ProfileMenu()">
                    <div class="sbmenuitemtext">Profile</div>
                  </div>

                  <!-- <div class="sbmenuitem">
                    <div class="sbmenuitemtext">Assessment</div>
                  </div> -->

                  <div class="sbmenuitem" (click)="showRedeem()">
                    <div class="sbmenuitemtext">Referrals</div>
                  </div>

                  <!-- <div class="sbmenuitem" (click)="goToPlanGrow()">
                    <div class="sbmenuitemtext">Pricing</div>
                  </div> -->
            </div>



    </div>


  </div>



  <div class="sblogout" (click)="logout()">
    <img class="sblogoutimg" src="/assets/image/SignOut.png" />
    <!-- <button class="sblogouttext" (click)="logout()">Logout</button> -->
  </div>


</div>