<!--<div class="pre-assessment-container">
    <div *ngIf="showInstructions" id="instructions">
        <div class="container">
            <div class="header">-->
                <!-- <img src="logo.png" alt="Simplifying Skills Logo" class="logo"> -->
                <!-- <h1>Simplifying Skills Skillsphere Assessment - Instructions</h1>
                <img src="assets/image/1.png" class="img" alt="Add a heading">
            </div>
            <p class="welcome">Welcome to the Simplifying Skills Skillsphere Assessment. Please read the following
                instructions carefully before you begin the test:</p>
            <div class="instructions">
                <h2>General Instructions:</h2>
                <ol>
                        <li>Complete the Assessment in One Sitting – Once you start, you must complete the entire test in one go. You cannot pause or restart the assessment.</li>
                        <li>Ensure a Stable Internet Connection – Use a laptop, tablet, or mobile with a reliable internet connection to avoid interruptions.</li>
                        <li>Find a Quiet Environment – Choose a distraction-free place for better focus and accuracy.</li>
                        <li>Time Management is Key – Each section has a specific time limit. Once started, the timer cannot be paused. If time runs out, your responses will be automatically submitted.</li>
                        <li>Do Not Refresh or Close the Browser – Refreshing or exiting the page may lead to a loss of progress.</li>
                        <li>Keep a Pen & Paper Handy – This will help you with rough calculations in the Aptitude Section.</li>
                        <li>No External Help – This is a self-assessment. Avoid assistance to ensure an accurate skill evaluation.</li>
                        <li>Answer Honestly – Especially in the Personality Section, go with your first instinct for the best insights. There are no right or wrong answers!</li>
                        <li>Attempt All Questions – There is no negative marking, so make sure to answer every question.</li>
                </ol>
            </div>
         
            <button type="button" pButton label="Start Assessment" class="start-btn" (click)="onStart()"></button>

        </div>

    </div>
</div> -->