.question-container {
  width: 100%;
  .question-text {
    font-size: 2.5rem;
    font-weight: bold;
    @media (max-width: 768px) {
      font-size: 2rem;
    }
  }

  .options {
    margin-top: 15px;
  }
  .small-text {
    font-size: 20px; /* Adjust as needed */
  }
  .option {
    display: flex;
    background: #ffffff;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: #3b3b3b;
    cursor: pointer;
    transition: 0.3s;
  }
  .option-text {
    flex-grow: 1; /* Ensures the text takes available space */
  }
  input[type='radio'] {
    margin-left: auto; /* Pushes the radio button to the right */
  }
  .option:hover {
    background: #e1e8f0;
  }

  .option input {
    margin-right: 10px;
  }
}
