<div class="container">
    <div class="header">
        <!-- <img src="logo.png" alt="Simplifying Skills Logo" class="logo"> -->
        <h1>Simplifying Skills Skillsphere Assessment - Instructions</h1>
        <img src="assets/image/1.png" class="img" alt="Add a heading">
    </div>
    <div class="instructions">
        <div class="sections">
            <h2>Section-wise Guide:</h2>

            <p><strong>Behavioral Section (20 minutes, 87 questions)</strong></p>
            <ul>
                <li>This section helps understand your personality traits and behavioral patterns. There are no right or
                    wrong answers—just be honest!</li>
            </ul>
            <strong>Sub-section 1: Interest & Preference:</strong>
            <ul>
                <li>This section explores your interests and career preferences.</li>
                <li>Choose options based on what you genuinely enjoy, not what you think is expected.</li>
            </ul>
            <strong>Sub-section 2: Psychometric Assessment</strong>
            <ul>
                <li>This measures how you think, react, and process information.</li>
                <li>Answer instinctively without overanalyzing.</li>
            </ul>
            <strong>Sub-section 3: Socio-Emotional Intelligence</strong>
            <ul>
                <li>Assesses your ability to understand and manage emotions.</li>
                <li>Be truthful—this section helps identify your emotional strengths.</li>
            </ul>
            <strong>Sub-section 4: Adversity Quotient (AQ)</strong>
            <ul>
                <li>Tests how you handle challenges and setbacks.</li>
                <li>There are no wrong answers; choose what best reflects you in difficult situations.</li>
            </ul>
            <strong>⏳ Remember: This section is time-bound, so don’t spend too long on any one question. Stay calm and
                answer naturally. If time runs out, your answers will be automatically submitted.</strong>
        </div>
    </div>

    <!-- <button type="button" pButton label="Start Assessment"  (click)="onStart()" class="start-btn" ></button> -->

</div>