<div class="flex p-2  md:align-content-start align-content-center flex-wrap flex-column gap-4 question-container">
    <!-- <h3 class="flex font-bold">{{ question.questionText }}</h3> -->
    <div class="question-text small-text">
      <span [innerHTML]="sanitizedQuestionText"></span>
    </div>
    <hr style="height:1px;border:none;color:#A0A0A0;background-color:#A0A0A0; width: 100%;">
    <div class="options">
      <label *ngFor="let option of question.options;let i = index" class="option"
        [class.selected]="option.id === selectedOption" (click)="selectOption(option.id ?? '')">
        <span class="option-text"> {{getOptionLabel(i) }}. {{ option.optionText }}</span>
  
        <input type="radio" name="questionOption" [value]="option.id" [checked]="option.id === selectedOption" />
  
      </label>
    </div>
  </div>